# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Environment variables (sensitive)
.env

# IDE
.DS_Store
.vscode/
.idea/

# Logs & temp
*.log
*.tmp
