# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
env/

# Environment variables
.env
.env*
!.env.example

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Node.js / NestJS / Next.js dependency & build
node_modules/
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/dist
dist/
build/
/build
/coverage
*.egg-info/

# Next.js & Vercel
/.next/
/out/
.vercel
*.tsbuildinfo
next-env.d.ts

# Misc
*.pem

